.comment-section {
	position: relative;
	z-index: 2;
	transition: top 1s;
	height: auto;

	display: flex;
	flex-direction: column;
	overflow: hidden;
/* 	transition: 
		0.2s max-height ease-out,
	 	0.4s opacity ease-in-out, 
	 	0.4s visibility  ease-in-out,
	 	0s margin ease-in-out; */
	flex: 1 1 100%;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.comment-section__container{
	position: relative;
	margin: 0px;
	z-index: -1;
	/* top: -40px; */
/* 	transition: 
		0.4s top ease-in-out,
		0.2s height ease-in-out,
		0.2s opacity, 
		0.2s visibility, 
		0s margin ease-in-out; */
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

/* *** COMMENT BLOCK CSS *** */

.comment {
	position: relative;
	display: flex;
	flex-direction: column;
	margin:10px;
	padding: 10px;
	background-color: rgba(255,255,255, 0.9);
	border-radius: 7px;
/* 	transition: 
		0.4s height ease-in-out; */

}

.comment__username, .comment__text {
	margin: 0px 5px 0px 0px;
}

.comment__username {
	font-family: 'Roboto';
	font-weight: 500;
	text-align: left;
	width: 5%;
}

.comment_s_username:hover {
	color: #995cd6;
}

.comment__text {
	font-family: 'Roboto';
	font-weight: 400;

}

.delete-comment-btn{
	position: absolute;
	right: 10px;
	top: 50%;
  
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

	background-color: #ef5350;
	color: white;
	padding: 2px 2px 0px 2px;
	border-radius: 5px;

	transition: opacity 0.3s ease-in-out 0.1s;
}

.delete-comment-btn:hover{
	background-color: #f05e5c;
}


/* *** ADD COMMENT CSS *** */

.comment-section__add {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 5px 0px;

}

.comment-section__add__form {

}


.comment-section__add__field{
	margin: 10px !important;
	overflow: hidden;
}

.blackBG.comment-section__add__field{
	background-color: rgba(255,255,255,0.9);
}

.comment-section__add__field:hover {
  background-color: white;
}

.comment-section__add__field > input {
	padding-right: 0px !important;
}

.commentAdd-Btn {
  background-color: #995cd6;
  color: white;
  font-family: 'Pacifico';
  font-size: 15px; 
  border: none;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
}

.commentAdd-Btn:hover {
  background-color: #995cd6;
  color: white;
  box-shadow: 0px 0px 3px 1px white;
}


