
.gallerybody__container {
	width: 100%;
	height: 100%;

}


.gallerybody {
	width: 100%;
	height: 100%;
  /* overflow-x: hidden; */
  /* overflow-x: hidden; */

}



.gallery__header {
	margin: 50px 30px 10px 30px;
	width: 80%;

	justify-content: space-between;
}

.gallery_title {

}

.gallery__galname {
	margin-bottom: 10px;
	font-family: Raleway;
	font-size: 2em;
	font-weight: 600;
	text-align: left;

}

.gallery__author {
	margin-left: 10px;
	font-weight: 400;
	color: #995cd6;
}


/* *** Image Upload Form *** */

.image-upload__container {
	/* border: 2px solid red; */
	width: 80%;
}

.gallery__toggle-up-btn {
	margin-right: 30px;
	background: #1bb76e;
	border-radius: 6px;
	border-width: 0px;
	padding: 10px;
	color: white;
	font-size: 1em;
	font-weight: 500;
	font-family: Pacifico;

	transition: background-color 0.2s ease-in-out;

}

.gallery__toggle-up-btn:hover {
	background-color: #21de86;

}

/* *** IMAGE GRID *** */

.images__container {	
	width: 80%;

	display:  flex;
	flex-flow: row wrap;
	margin-left: -8px;


	/* Add some gap between rows and columns */
	/* grid-gap: 2em;  */
	/* Make columns adjust according to the available viewport/width */
	/* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
	/* Set the height of the auto-created rows*/
	/* grid-auto-rows:  auto; */
}

.thumbnail_gallery {
  background-color: gray;
  border-radius: 5px;
  object-fit: cover;

  flex: auto;
  height: 250px;
  min-width: 150px;
  max-width: 500px;
  margin: 0 8px 8px 0; /* Some gutter */
}
