
#userbody {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.top-banner {
  flex: 1;
  max-height: 300px;
}

.top-banner_image {
  background-image: url('../../../images/login/background.jpeg');
  background-position: center;
  height:100%;
  width:100%;


}