
/*** Gallery Showcase */

.gal-showcase {
  z-index: auto;
  padding: 0px;
  margin: 20px 0px;
  width: 90%;
  max-width: 880px;
  background-color: #333333;
  background-origin: content-box;
}

.gal-showcase__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gal-showcase__title {
  padding-left: 20px;
  margin: 5px 0px;
  font-weight: 400;
  align-self: center;
  color: white;
}

.gal-showcase__title:hover {
  color: #b385e0;
}

.gal-showcase__author {
  padding-left: 7px;
  color: #999;
}

.gal-showcase__commentbtn {
  margin: 5px 10px;
  padding: 5px 0px 5px 8px;

  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 18px;
  transition: 0.3s background-color ease-in-out;

}

.gal-showcase__commentbtn > i {
  transition: transform 0.5s;
}

.gal-showcase__commentbtn:hover {
  background-color: #777777;
}

.gal-showcase__body {
  /* border: 2px solid black; */
  position: relative;
  height: 180px;
  background-color: white;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;

  padding-left: 15px;

}

.thumbnail_galshowcase {
  margin: 15px 10px;
  height: 150px;
  width: 150px;
  background-color: gray;
  border-radius: 5px;
  object-fit: cover;

  transition: opacity 0.3s ease-in-out;
}

.emptymessage {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: gray;
}
