
.split.left {
  /* background: url('../../images/user/main_lowblur.jpg'); */
  /* background-position: 45% 50%; */
}

.sidebar-bg {
  flex: 1;
  height: 100%;
  width: 100%;
  background: #232323;
  /* background: linear-gradient(to top, #333399 -63%, #66ccff 102%); */
  /* background: linear-gradient(to bottom, #6600ff -63%, #000066 102%); */
  /* background: linear-gradient(to bottom, #6f2dd2 -63%, #121254 102%); */
  /* object-fit: fill; */
  /* background: linear-gradient(to bottom, rgba(81,151,226,1) 0%,rgba(44,83,158,1) 100%); */
  /* background: linear-gradient(to bottom, rgba(81,151,226,1) 0%,rgba(44,83,158,1) 66%); */
  /* background: linear-gradient(to bottom, rgba(11,86,167,1) 0%,rgba(11,45,107,1) 100%); */
  /* background: linear-gradient(to bottom, rgba(82,125,170,1) 0%,rgba(69,92,135,1) 100%); */
  /* background: linear-gradient(to bottom, rgba(102,125,150,1) 0%,rgba(84,96,120,1) 100%); */
  display: flex;
  flex-direction: column;
  }

.sidebar__top {
  display: flex;
  flex-direction: column;
  position: inherit;
  overflow-x:hidden;
  flex: 1;
}

/* --- Titles --- */


h2{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.sidebar__title {
  padding:  10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

}

.sidebar__logo {
  color: #995cd6;
  font-weight: 400;
  width: 120px;
  height: 120px;
  font-size: 90px;
}

.sidebar__disgram{
  color: #995cd6;
  font-weight: 400;
}

.sidebar__username {
  font-weight: 500;
}



/* --- Lists --- */

.sidebar__container {
  display: flex;
  flex-direction: column;
  position: inherit;
  overflow-x: hidden;
  justify-content: flex-start;
}

.sidebar__list::-webkit-scrollbar { 
  width: 0 !important 
}

.sidebar__list {
  transition: 0.3s max-height ease-in-out, 0.3s opacity ease-in-out,  0.2s visibility  ease-in-out;
  max-height: 0;
  overflow-x:hidden;
  scrollbar-width:none;

/*   -webkit-box-shadow: inset 0px -99px 22px -103px rgba(100,100,100,0.75);
  -moz-box-shadow: inset 0px -99px 22px -103px rgba(0,0,0,0.75);
  box-shadow: inset 0px -100px 14px -103px rgba(0,0,0,1); */
}


.sidebar__item, .dropdown-btn{
  padding: 7px 40px 7px 12px;
  text-align: left;
  border: none;
  font-size: 16px;
  font-family: inherit;
  color: white;
  background-color: rgba(50%, 50%, 50%, 0.1)
}

.dropdown-btn {
  width: 100%;
  background: none;
}

.sidebar__item {
  padding-left: 24px;
  margin: 0px
}


.dropdown-btn.active {
  background-color: rgba(173, 92, 214, 0.15);
  color: white;
}

.sidebar__item:hover {
  background-color: rgba(70%, 70%, 70%, 0.2);
}

.sidebar__item.active {
  /* background-color:  rgba(100%, 100%, 100%, 0.8); */
  color: #ad5cd6;
}



/* --- Bottom --- */

.sidebar__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: inherit;
  height: 10%;

}

.sidebar__bottom > .logoutBtn {
  height: auto;
  font-size: 16px;
  padding:8px 0px;
  background-color: #ddd;
  color: #1a1a1a;
  font-weight: 500;
  width: 80%;
  right: 0;
}

.sidebar__bottom > .logoutBtn:hover {
  background-color: #8e59a6;
}
